/* Border */

#top-bar, 
#left-bar,
#right-bar {
  z-index: 1;
  background: #FAF9f6;
  position: fixed;
}

#top-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid black;
}

#left-bar,
#right-bar{
  top: 0;
  bottom: 0;
  width: 40px;
}

#left-bar {
  left: 0;
  border-right: 1px solid black;
}

#right-bar {
  right: 0;
  border-left: 1px solid black;
}

/* Video Background Styling */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* General Styling */

/* Hero */

.container-flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 400px) {
  .container-flex{
    flex-direction: row;
    justify-content: center;
  }
}

.container-flex div {
  margin-top: 20%;
  justify-content: center;
  align-items: center;
  float: none;
}

.big-box {
  background-color: #F172A1;
  border-radius: 4px;
}

.button.button-primary.hero {
  background-color: #000;
  border-color: #FFA6C9;
  height: 300px;
  width: 80%;
  text-align: right;
}
