/* Border */

#top-bar, 
#left-bar,
#right-bar {
  z-index: 1;
  background: #FAF9f6;
  position: fixed;
}

#top-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid black;
}

.flex-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-title h3 {
  text-align: center;
  font-size: 40px;
}

#left-bar,
#right-bar{
  top: 0;
  bottom: 0;
  width: 40px;
}

#left-bar {
  left: 0;
  border-right: 1px solid black;
}

#right-bar {
  right: 0;
  border-left: 1px solid black;
}

/* Video Background Styling */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* General Styling */

/* Hero */

.container-flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 550px) {
  .container-flex{
    flex-direction: row;
    justify-content: center;
  }
}

.container-flex div {
  margin-top: 20%;
  justify-content: center;
  align-items: center;
  float: none;
}

#name {
  margin-top: 30%;
  text-align: center;
}

@media (min-width: 550px) {
  #name{
    margin-top: 10%;
  }

  .container-flex div {
    margin-top: 10%;
  }
}

.big-box {
  background-color: #F172A1;
  border-radius: 0px;
}

.button.button-primary.hero {
  background-color: #000;
  border-color: #FFA6C9;
  padding: 0 10%;
  height: 300px;
  width: 100%;
  border-radius: 0px;
  text-align: right;
}

#profile-pic img {
  max-width: 100%;
  height: auto;  
}
/* Footer Styling */

.privacy {
  text-align: center;
}

#flex-footer {
  height: 100%;
  display: flex;
  margin-top: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 550px) {
  #flex-footer {
  }
}

#flex-footer div {
  text-align: center;
  align-items: center;
  margin-bottom: 1%;
}

#flex-footer a {
  color: black;
  text-decoration: none;
}

.copyright,
.contact {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-links {
  display: flex;
  flex-direction: column;
}

/* .flex-links a {
  color: black;
  text-decoration: none;
}
*/


